body {
  font-family: 'Open Sans', 'Roboto', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  color: #f4f4f4;
  margin: 0;
  padding: 0; }

.btn {
  border: 0 none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  color: #FFFFFF; }

header {
  background: #ffffff url("../img/header.jpg") no-repeat center top;
  background-size: cover;
  position: relative;
  height: 950px;
  width: 100%;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 60px;
  font-weight: 300; }

.main {
  position: relative;
  margin: 0;
  padding: 0; }

#topLogo {
  position: absolute;
  width: 170px;
  height: 20px;
  margin: 0;
  top: 560px;
  left: -40px;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  text-transform: uppercase; }

#topLogo span:nth-child(2) {
  float: right;
  font-weight: 600; }

.main-sign {
  position: relative;
  top: 450px; }

.logo {
  position: absolute;
  display: block;
  width: auto;
  bottom: 500px;
  z-index: 3;
  margin: 0;
  padding: 0; }

div.circle {
  position: relative;
  display: inline-block;
  background-color: none;
  width: 40px;
  height: 40px;
  border: 3px solid #ffffff;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

div.small-circle {
  position: relative;
  background-color: none;
  width: 16px;
  height: 16px;
  top: 9px;
  left: 9px;
  border: 3px solid #ffffff;
  -webkit-border-radius: 50%;
  border-radius: 50%; }

.logo-name {
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 50px;
  font-style: italic;
  font-size: 22px;
  font-weight: 500; }

#iphone {
  background-image: url("../img/iphone.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 550px;
  height: 100%;
  width: 100%;
  z-index: 3;
  -webkit-animation-name: slide-show;
  animation-name: slide-show;
  -webkit-animation-duration: 1.6s;
  animation-duration: 1.6s; }

@-webkit-keyframes slide-show {
  0% {
    opacity: .5;
    -webkit-transform: translateX(60%);
    transform: translateX(60%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%); } }

@keyframes slide-show {
  0% {
    opacity: .5;
    -webkit-transform: translateX(60%);
    transform: translateX(60%); }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    transform: translateX(0%); } }

.section-2 {
  height: 550px;
  color: #959595; }

.describing-right {
  margin-top: 50px; }

.describing, .describing-right {
  margin-bottom: 80px; }

.describing > div, .describing-right > div, .typical {
  line-height: 1.3;
  font-size: 18px; }

.describing > div, .describing-right > div {
  margin-bottom: 20px; }

.boxes {
  position: relative;
  height: auto;
  max-width: 1485px;
  color: #ffffff;
  margin: 0;
  padding: 0; }

.rect-short {
  position: relative;
  max-width: 400px;
  height: 275px; }

.rectangular-info {
  position: absolute;
  margin: 30px; }

.rectangular-info p:nth-child(1) {
  font-size: 40px;
  font-weight: 300; }

.rectangular-info p:nth-child(2) {
  font-size: 16px;
  line-height: 1.6; }

.rectangular-info div a {
  color: #f4f4f4; }

.rectangular-info div a:nth-child(1) {
  font-weight: 600;
  text-decoration: none;
  margin-right: 10px; }

.rectangular-info div a:nth-child(2) {
  text-decoration: none; }

.rectangular-info div a:nth-child(3) {
  float: right;
  margin-right: 15px;
  text-decoration: none; }

.rectangular-info div a:nth-child(3):hover {
  color: #FFDD00; }

.rect-long {
  position: relative;
  max-width: 800px;
  height: 275px; }

div.first div.rect-short:nth-child(1) {
  background-color: #f5989d;
  position: relative;
  overflow: hidden; }

div.first div.rect-short:nth-child(2) {
  background-color: #615f7d;
  position: relative;
  overflow: hidden; }

div.first div.rect-short:nth-child(3) {
  background-image: url("../img/box-2.jpg");
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }

div.second div.rect-long:nth-child(1) {
  background-image: url("../img/box-1.jpg");
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden; }

div.second div.rect-short:nth-child(2) {
  background-color: #82ca9c;
  position: relative;
  overflow: hidden; }

.move-left, .huge-move-left {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 150px;
  right: -800px;
  width: 100%;
  margin: 10px;
  padding: 10px;
  -webkit-transition: 1s ease;
  transition: 1s ease; }

.rect-short:hover > .rectangular-info .move-left, .rect-long:hover > .rectangular-info .move-left {
  right: 0; }

div.first div.rect-short:nth-child(3):hover, div.second div.rect-long:nth-child(1):hover {
  opacity: .9;
  filter: alpha(opacity=90); }

.main-dark p {
  color: #222626;
  font-size: 40px;
  margin: 60px 0 50px 0;
  font-weight: 300; }

.section-mid {
  height: 520px;
  color: #959595;
  margin-bottom: 120px; }

div p.text-left {
  color: #67676d;
  font-size: 18px;
  line-height: 1.5; }

.l-typical {
  line-height: 1.3;
  font-size: 18px;
  color: #FFFFFF;
  margin-top: 20px; }

.section-3 {
  height: 870px;
  background-image: url("../img/car-pict.jpg");
  background-repeat: no-repeat;
  position: relative;
  width: 100%; }

.info-sect-3 {
  position: relative;
  top: 460px; }

.info-sect-3 p.typical {
  font-size: 60px;
  font-weight: 300; }

div.extra-small {
  margin-top: 20px;
  font-weight: 600; }

div.extra-small > a {
  color: #f4f4f4;
  text-decoration: none;
  margin-left: 10px; }

div.section-4 {
  color: #f4f4f4;
  height: auto;
  padding-bottom: 160px;
  background-color: #82ca9c;
  width: 100%; }

.signed p {
  font-size: 40px;
  margin: 80px 0 50px 0;
  font-weight: 300; }

.section-5 {
  height: auto;
  background-color: #f6f7fa;
  position: relative;
  width: 100%; }

.cards {
  height: 380px;
  background-color: inherit;
  margin: 100px 0 150px 0;
  padding: 50px 30px 56px 30px;
  z-index: 5;
  -webkit-transition: all .8s;
  transition: all .8s; }

.cards:hover {
  -webkit-box-shadow: 0px 0px 24px -2px #4d4d4d;
  box-shadow: 0px 0px 24px -2px #4d4d4d;
  background-color: #FFFFFF; }

.cards-inner-text {
  overflow: hidden;
  margin: 20px auto; }

.cards-inner div span.typical {
  color: #959595; }

.cards-inner p button.btn-mini {
  content: '';
  -webkit-transition: all .8s;
  transition: all .8s; }

.cards-inner p button.btn-mini:hover {
  content: '';
  background-color: #bd8cbf;
  -webkit-transition: all .8s;
  transition: all .8s;
  color: #ffffff; }

div.lower-button button {
  background-color: #82ca9c;
  color: #ffffff; }

.social-icons > a i {
  color: #c5c5c5;
  height: auto;
  width: auto;
  padding: 2px;
  margin: 5px;
  position: relative;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  -webkit-transform: scale(1.6);
  -ms-transform: scale(1.6);
  transform: scale(1.6); }

.social-icons a:nth-child(1):hover,
.social-icons a:nth-child(2):hover {
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  transform: scale(2);
  z-index: 2; }

footer {
  height: auto;
  background-color: #192431;
  color: #f6f7fa; }

.foot-wide {
  height: 160px;
  margin: 130px 0 30px 0; }

.foot-wide > p.typical, .foot-list > p.typical {
  font-weight: 600;
  display: inline-block;
  margin: 20px 0; }

span.input-group-btn > button {
  background-color: #82ca9c;
  -webkit-border-radius: 0 2px 2px 0;
  border-radius: 0 2px 2px 0; }

input.form-control {
  margin: 0;
  padding: 0;
  padding-left: 20px;
  -webkit-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px; }

.input-group + p {
  color: #57697f;
  margin-top: 15px; }

.footer-links > a {
  color: #f6f7fa;
  margin: 0;
  padding: 0; }

.foot-list {
  margin-bottom: 150px; }

.appearance {
  visibility: hidden; }

.slide {
  -webkit-animation-name: slide;
  animation-name: slide;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  visibility: visible; }

@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
    transform: translateY(70%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }

@keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
    transform: translateY(70%); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%); } }
